<% include ./partials/header.ejs %>

<div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Create Account </p>

      <input type="username" placeholder="Username" class="detail" /><br />
      <input type="email" placeholder="Email" class="detail" /><br />
      <input type="password" placeholder="Password" class="detail" />

      <button class="btn int">Log in</button>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <a href="#">Terms of Service, Privacy policy.</a>
        </p>
        <hr />
        <a href="/">Already on PINFLUENCE? Sign in</a>
      </footer>
    </div>
  </div>

<% include ./partials/footer.ejs %>